body {
    margin: 0;
    padding: 0;
    background-color: #f8f4f1;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    width: 100vw;
}

a {
    text-decoration: none;
    color: #fff;
}

img {
    width: 100%;
    height: auto;
}

/*************      Hoved grid´et     *************/

.main_grid {
    margin: auto;
    width: 100vw;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(13, 1fr);
}

.header {
    grid-column: 1/14;
    grid-row: 1;
    /*    height: 13vw;*/
}

main {
    grid-column: 2/13;
}


/********    GOOGLE FONTE    ********/

h1 {
    font-family: 'Rozha One', serif;
    font-size: 4em;
}

h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.7em;
    margin: 1vw 0 0vw 0;
/*    text-align: center;*/
    color: #e2c7b5;
    font-style: normal;
}

p {
    font-family: 'Open Sans', sans-serif;
}


.logo {
    position: absolute;
    top: 2vw;
    left: 39.5%;
    height: 12.5vw;
    width: 20vw;
/*    background-image: url(assets/Logo/SVG/logo_bl%C3%A5_mix_med_beige_kant.svg);*/
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}


/**************       MENUER         ***********/

/* TILMELD NYHEDSBREV */

#nyhedsbrev {
    position: absolute;
    top: 50%;
    left: 100vw;
    border-radius: 10px;
    width: 10vw;
    height: 5vw;
    background-color: #154cad;
    background-image: url(assets/Ikoner/nyheds_ikon.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: 10%;

    animation-name: komFrem;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 1;
    transition: 0.5s ease-in-out;
}

#nyhedsbrev:hover{
    transform: scale(1.1);

}

@keyframes komFrem{
    0%{
        left: 100vw;
    }

    100%{
        left: 94vw;
    }
}

#header_nyhedsbrev{
    margin-top: 3vw;
    color: #f1f8f4;
    text-align: center;
}

input[type=text], input[type=email]{
    margin: 2% 0 0 10%;
    text-align: center;
    width: 80%;
    height: 30px;
    border: none;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;

}

input[type=submit]{
    width: 70%;
    margin: 5% 0 0 15%;
/*    border: none;*/
    height: 30px;
    background-color: #f1a6a3;
    color: #f1f8f4;
    font-family: 'Open sans', sans-serif;
    text-transform: uppercase;
}

.popup {
    position: absolute;
    top: 0vw;
    left: 0;
    width: 100vw;
    height: 100vh;
    border: double #fff;
    position: fixed;
    visibility: hidden;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.28);
}

.popup-content {
    width: 40%;
    height: 40%;
    top: 30%;
    left: 29.3%;
    color: #fff;
    position: absolute;
    background-color: #b0d3d7;
}

.close-button {
    position: absolute;
    top: 32%;
    left: 66%;
    border-radius: 50%;
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #5777b2;
    border-color: transparent;
    padding: 0.2vw;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.close-button:hover {
    transform: scale(1.2);
    transition: ease;
}

.close_bar1 {
    position: absolute;
    width: 1vw;
    height: 1.1px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0.9vw auto;
/*    transform-origin: center;*/
    transform: rotate(45deg) translate(-6px, -12px);
}

.close_bar2 {
    position: absolute;
    width: 1vw;
    height: 1.1px;
    background-color: #fff;
    border-radius: 10px;
    margin: 0.9vw auto;
    transform-origin: center;
    transform: rotate(-45deg) translate(12px, -6px);
}

.popup-billedecontainer {
    width: 100vw;
    margin: 15vw auto;
}

.popup-billede {
    width 100%;
    height: 100%;
}




/*HOVEDMENU*/

/***********    top nav    ***********/

header {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    position: sticky;
}

#hovedmenu {
    grid-column: 2/13;
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-template-rows: repeat(2, 1fr);
    overflow: hidden;
    /*    position: fixed;*/
}


/** menupunkter **/

#kollektioner,
#kurser,
#forhandler,
#om {
    color: #5777B3;
    font-family: 'Open Sans', sans-serif;
    text-transform: uppercase;
    text-align: center;
    font-size: 1.2em;
    padding-top: 6.3vw;
    grid-row: 1;
}

#kollektioner:hover,
#kurser:hover,
#forhandler:hover,
#om:hover{
    color: #e2c7b5;
    transition: 0.2s ease-in;
    transform: scale(1.1);
}

#kollektioner {
    grid-column: 1/2;
}

#kurser {
    grid-column: 3/4;
    padding-left: 3vw;
}

#om {
    grid-column: 9/11;
}

#forhandler {
    grid-column: 12/14;
}

#hovedmenu a.active {
    background-color: #e2c7b5;
}

hr {
    border: solid 0.5px #e2c7b5;
    width: 30vw;
    position: absolute;
    left: 7.5vw;
    top: 10vw;
}

.headerline2 {
    left: 61.5vw;
}

/**** DROP DOWN KNAPPER ****/

.dropdown_kollektion,
.dropdown_kurser {
    grid-row: 2;
    height: 1vw;
    cursor: pointer;
    text-align: center;
}

.dropdown_kollektion {
    grid-column: 1/2;
}

.dropdown_kurser {
    grid-column: 3/4;
    padding-left: 3vw;
}

.dropbtn {
    font-size: 0.5em;
    margin: 0;
    color: #154CAD;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.dropbtn:hover {
    color: #e2c7b5;
    transition: 1s ease-in;
}

/*Kan vi lave dette så det kun virker når den er åben?*/

.dropbtn:focus {
    color: #E2C7B5;
}

.burgermenu {
    display: none;
}

#mobilmenu {
    display: none;
}

.dropdown-content {
    display: none;
    background-color: #f8f4f1;
/*    border: solid #154cad;*/
    min-width: 160px;
    overflow: auto;
    position: relative;

    z-index: 1;
}

.dropdown-content button {
    /*    position: absolute;*/
    background-color: transparent;
    color: #E2C7B5;
    display: block;
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    border-bottom: solid 1px;
}


.dropdown-content button:hover {
    background-color: #B0D3D7;
    color: #fff;
}

/*
.dropdown a:hover {
    background-color: #ddd;
}
*/

.showSidemenu {
    display: block;
}

.sidemenu {
    /*
        grid-column: 1/13;
        grid-row: 2;
*/
    /*        text-transform: uppercase;*/
    /*        text-align: center;*/
    /*        margin-top: 20vw;*/
    /*
        height: 100vh;
        width: 22vw;
        position: fixed;
        overflow: visible;
        border-right: solid #154CAD;
*/
    /*        min-width: 100%;*/
    /*        background-color: #e2c7b5;*/
    /*        text-align: center;*/
    /*        background-color: #154CAD;*/
}

/***********    footer    ************/

.footer {
    grid-column: 1/14;
    grid-row: 3;
    background-color: #5777b2;
    color: #f8f4f1;
    padding: 0vw 0 1vw 0;
    font-size: 0.8em;
}

.footer p{
    margin: 0;
}

footer {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    grid-column: 1/14;
    grid-row: 4;
}

#footer_kant{
    grid-row: 1;
    grid-column: 1/14;
    height:3.7vw;
    background-image: url(assets/Striben/multi.svg);
    background-size: cover;
}

#adresse {
    grid-column: 2/4;
    grid-row: 2;
    font-style: normal;
}

#aabningstider {
    grid-column: 4/7;
    grid-row: 2;
}

#kontakt {
    grid-column: 11/11;
    grid-row: 2;
}

#some_container{
    grid-row: 2;
    width: 16vw;
    height: 4vw;
    grid-column: 12;
    text-align: center;
}

.some_links {
    width: 4vw;
    height: 4vw;
    margin: 3.5vw 1vw 3.5vw 1vw;
    background-size: cover;
}

#facebook {
    background-image: url(assets/Ikoner/some/baige_fb_ikon.png);
}

#instagram {
    background-image: url(assets/Ikoner/some/baige_insta_ikon.png);

}

/************     maps     *************/

#map {
    grid-column: 1/14;
    margin: 0 0 2vw 0;
    height: 40vw;
}



/**********      produkt opsætning ************/

.produktliste {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.produktbillede {
    width: 100%;
    height: auto;
}

.button {
    background-color: #f1f1f1;
    color: black;
    padding: 6px;
    font-size: 16px;
    border: none;
    cursor: pointer;

}

.main_indexgrid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5%;

}

.main_nyhedsgrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;

}

.main_kursusgrid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5%;
}

.kursusbillede {
    width: 100%;
    height: auto;
}


/* FORSIDE */

#baggrundsvideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    margin: 1vw;
}

#nyheder{
    cursor: pointer;
    z-index: -1;
}

#nyheder:hover{
    opacity: 0.9;
    transition: 0.2s ease-in;
    transform: scale(1.1);
}

#nyheder_header {
    font-size: 6em;
    position: absolute;
    top: 60%;
    left: 15%;
    color: #f1a6a3;
    width: 60%;
    margin: 0;
    width: auto;

}

#nyheder_underheader {
    font-size: 2em;
    color: #b0d3d7;
    position: absolute;
    left: 44%;
    top: 70%;
    width: 75%;
}

#velkommen {
    z-index: 1;
    margin: 0;
   height: 5vw;
    color: #B0d3d7;
    text-align: right;
    font-size: 4em;
}

#univers {
    font-size: 1em;
    color: #b0d3d7;
    text-align: right;
    margin: 0;
}

blockquote {
    font-size: 1.5em;
    font-style: italic;
    color: #e2c7b5;
    width: 50%;
    margin: 1vw 1vw 0  auto;
}

/*
#quote_left {
    position: absolute;
    right: 40vw;
    top: 55vw;
}

#quote_right {
    position: absolute;
}
*/

#signatur {
    width: 20vw;
    height: 4vw;
    background-image: url(assets/Signatur/underskrift%20bl%C3%A5.svg);
    background-repeat: no-repeat;
    margin-left: auto;
    margin: 0.5vw 0 1vw auto;
}



@media all and (max-width: 1000px) {

    /**************       BURGERMENU         ***********/
    .sidemenu {
        width: 100vw;
        height: 100vw;
        max-height: 0px;
        min-width: 100px;
        overflow: hidden;
        transition: 0.6s ease;
        background-color: #E2C7B5;
        margin: 0;
        text-align: left;
        position: absolute;
        transition: 0.8s ease;
        /*    font-family: 'hk_grotesksemibold_legacy';*/
        z-index: 1;
    }

    #mobilmenu a {
        display: block;
        font-family: 'Rozha One', serif;
        color: #f8f4f1;
        background-color: transparent;
        padding: 1vw;
        font-size: 2em;
        border: none;
        cursor: pointer;
        text-align: left;
        padding-left: 8vw;
    }

    #mobilmenu a:hover {
        color: #154CAD;
    }
    /*
    .dropbtn:focus{
        color: #3456a6;
    }
*/
    .dropbtn {
        color: #f8f4f1;
        padding-left: 8vw;
    }

    .dropbtn:focus {
        color: #154CAD;
    }

    .dropbtn:hover {
        background-color: transparent;
        color: #154CAD;
    }

    .dropdown-content {
        /*    background-color: rgba(248, 244, 241, 0.51);*/
    }

    .dropdown-content button {
        background-color: #f8f4f1;
        color: #fff;

        /*text-align: left;*/
        padding: 1vw 0 1vw 10vw;
        text-transform: uppercase;
        /*    border-bottom: dashed 1pt  #fff;*/
        /*    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.2);*/
        height: 20vw;
    }


    .logo-mobilmenu {
        background-image: url(logo.svg);
        background-repeat: no-repeat;
        width: 50vw;
        height: 35vw;
        margin: 3vw auto;
        border-bottom: solid 1px;
    }

    .dropdown_kollektion {
        padding-top: 0;
    }

    .burgermenu {
        position: fixed;
        display: block;
        cursor: pointer;
        background-color: #6fc6b4;
        border: none;
        width: 10vw;
        height: 10vw;
        border-radius: 50%;
        z-index: 4;
        top: 4vw;
        left: 85vw;
        transition: 0.5s ease-in-out;

    }

    .burgermenu:hover {
        background: #fff;
        transform: scale(1.2);

    }

    .bar1,
    .bar2,
    .bar3 {
        width: 4vw;
        height: 2.2px;
        background-color: #fff;
        border-radius: 10px;
        margin: 0.9vw auto;
        transition: 0.8s ease-in-out;
    }

    .farveskift {
        background-color: #6fc6b4;
    }

    /* ROTERING */
    .change .bar1 {
        transform: rotate(-45deg) translate(-3px, 4px);
        background-color: #6fc6b4;
    }

    .change .bar3 {
        transform: rotate(45deg) translate(-4px, -4px);
        background-color: #6fc6b4;
    }

    /* FADE */
    .change .bar2 {
        opacity: 0;
    }

    .change {
        transform: scale(1) translate(11vw);
        transition: 1s ease;
    }

    .skrump {
        transform: scale(0.7) translateX(5vw) translateY(-4vw);
        transition-delay: 1.5s;
        transition: 1s ease;
        background-color: #fff;
    }

    .sidemenu.show {
        max-width: 100vw;
        height: 350vh;
        max-height: 350vh;
        margin: 0;
    }

    .dropbtn button {
        display: block;
        margin: 20px 0;
        color: #fff;
        font-size: 5vw;
    }

    .dropbtn button:hover {
        color: #e2c7b5;
    }

    #hovedmenu {
        display: none;

    }
}


#nyheder_container {
    grid-column: 1;
    grid-row: 1;
    position: relative;
    text-align: center;
    color: white;
}

.nyheder_container2 {
    grid-column: 2;
    grid-row: 1;
}

.frame_container {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}

.produktslider {
    width: 100%;
}

.gallery {
    width: 100%;
}

.galleryImg {
    width: 25%;
    height: auto;
    transition: opacity 0.3s ease-in-out;
}

.galleryImg:hover {
    opacity: 0.5;

}
